{% extends './base.html' %}

{% load static %}

{% block section %}
   <h2>
       {{ object.name }} 
       {% if object.team_id %}
         ( <a href="{% url "team-detail" object.team_id %}">
             {{ object.team }}
           </a> )
       {% endif %}
    </h2>
   

    <a href="{% url "team-update" object.id %}">Editar</a>
    <a href="{% url "team-delete" object.id %}">Eliminar</a> 
   <hr>
{% endblock section %}

{% block maincontent %}
<div>
 <div>
     <img src="{% static object.team.url %}" style="width:250px;height:330px" />
 </div>
</div>
{% endblock maincontent %} 